@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;800;900&family=Bebas+Neue&display=swap');

@import "tailwindcss";

body {
  background-color: #0B0B0B;
  color: #F2F2F2;
  font-family: 'Outfit', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bebas Neue', sans-serif;
}